<nb-card>
    <nb-card-header>
        <h4>
            Lista de Adicionales
        </h4>
    </nb-card-header>
    <nb-card-body class="card-listar">
        <div class="form-group row">
            <div class="col-md-3 col-xs-12">
                <input nbInput autofocus fullWidth #search class="search" type="text" placeholder="Buscar..."
                    (keyup)="onSearch(search.value)">
            </div>
            <div class="col-md-9 text-right">
                <button nbTooltip="Editar" nbTooltipStatus="primary" nbTooltipColor="none" (click)="accion('editar')"
                    nbButton status="primary" outline (click)="accion('editar')">
                    <nb-icon icon="edit-2"></nb-icon>
                </button>
                <button nbTooltip="Documentos" nbTooltipStatus="success" nbTooltipColor="none"
                    nbTooltipStatus="secondary" nbButton status="primary" (click)="accion('documento')" outline>
                    <nb-icon icon="file"></nb-icon>
                </button>
                <button nbTooltip="Descarga" nbTooltipColor="none" nbTooltipStatus="primary" nbButton status="primary"
                    (click)="accion('descarga')" outline>
                    <nb-icon icon="people"></nb-icon>
                </button>
                <button nbTooltip="Eliminar" nbTooltipStatus="danger" nbTooltipColor="none" (click)="accion('eliminar')"
                    nbButton status="primary" outline>
                    <nb-icon icon="trash"></nb-icon>
                </button>
            </div>
        </div>
        <ng2-smart-table class="example-smart-table" [settings]="settings" [source]="source"
            (rowSelect)="onRowSelect($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
